
#tplFra {
	position: absolute;
	height:100%;
	width:100%;
	/* min-width: 740px; */
	min-height:360px;
	overflow-y: auto;
	background: #f5f5f5;
}

#tplTop {
	/* position: absolute; */
	width:100%;
	height: 58px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b0889+0,5c073b+100 */
background: rgb(107,8,137); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(107,8,137,1) 0%, rgba(92,7,59,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(107,8,137,1) 0%,rgba(92,7,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(107,8,137,1) 0%,rgba(92,7,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b0889', endColorstr='#5c073b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	top:0px;
border-bottom: 1px solid rgb(216, 216, 216);
	left:0px;
	text-align: center;
	font-size:16px;
	z-index: 1000;
}
.titleRoot{
	font-size: 16px;
	/* min-width: 100px; */
	max-width: 400px;
	width: calc(100% - 340px);
	font-weight: 200;
	padding: 5px 10px 5px 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.04);
	border-left: 2px solid rgba(0, 0, 0, 0.08);
	color: rgb(236, 236, 236);
	display: block;
	padding: 0px 120px 0px 16px;
	/* width: 70%; */
	height: 58px;
	line-height: 58px;
	float: right;
	font-family: 'Raleway';
}
.titleRoot span {max-width: 100%;display: inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.titleRoot::before{
    content: "";
    vertical-align: middle;
    display: inline-block;
    top: 0px;
    height: 58px;
    margin-left: 20px;
    width: 10px;
    background: rgb(232, 232, 232);
    z-index: 2;
    position:absolute;
    right: 90px;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(10deg, 0deg);
}
.titleRoot::after{
    content: "\f24e";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 36px;
    line-height: 58px;
    text-rendering: auto;
    color: #1b8ce0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 1;
    display: inline-block;
    height: 58px;
    margin-left: 20px;
    width: 100px;
    background: white no-repeat;
    background-size: 50px;
    background-position: 50%;
}

@media only screen
  and (max-width: 438px) {
	#titleRoot span{
		display:none;
	}
}
.vidUcBk{
	top:0;
	height:100%;
	position:absolute;
	width:100%;
}
#tplLft {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	padding-left: 20px;
}
#tplLft.barOpened{
	width:185px;
	-webkit-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-o-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}
#tplLft.barClosed{
	/* width:35px; */
	-webkit-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-o-transition: width 0.3s ease-out;
	transition: width 0.3s ease-in-out;
}
#tplLft .btnLftTgl{
	/* position: absolute; */
	display: none;
	/* width:100%; */
	/* height: 16px; */
	/* text-align: right; */
	-moz-border-radius: 0px 6px 0px 0px;
	-khtml-border-top-right-radius:6px;
	/* -webkit-border-top-right-radius:6px; */
	/* border-top-right-radius:6px; */
}

#tplLft .btnLftTgl:hover{
	-moz-opacity:1;
	opacity:1;
}

#tplLft .btnLftTgl span{
	display: none;
}

#tplLft.barClosed .btnLftTgl{
	/* background:url(../img/arrowRight.png) right no-repeat #764646 */}

#tplLft.barClosed .btnLftTgl:hover{
	background:url(../img/arrowRightOver.png) right no-repeat #764646
}

#tplLft.barOpened .btnLftTgl{
	background:url(../img/arrowLeft.png) right no-repeat #764646
}

#tplLft.barOpened .btnLftTgl:hover{
	background:url(../img/arrowLeftOver.png) right no-repeat #764646
}

#tplLft .lftCo{
	/* position: absolute; */
	/* width: 590px; */
	/*left:0px;
	top:20px;
	bottom:0px;*/
	/* margin-top: 20px; */
	font-size: 16px;
	line-height: 50px;
}
#tplLft .lftCo > *{
	display:inline-block;
}
#backBtn, #nextBtn{
	display: inline-block;
	/* position: absolute; */
	/* bottom: 5px; */
}

#tplRgt {
	display: block;
	width: 100% !important;
	margin-top: 20px;
}

#tplRgt.noArcFra .btnRgtTgl{
	display: none;
}

#tplRgt .btnRgtTgl{
	display: none;
}

#tplArc{
	/* position:absolute; */
	text-align: center;
	top:0px;
	bottom:27px;
	width:100%;
	overflow:auto;
}

#tplRgt.userArcFra .rgtCo,
#tplRgt.chooseArcFra .rgtCo,
#tplRgt.unaryArcFra .rgtCo{
	/* background:url(../img/bottomBkUserArc.png) bottom repeat-x; */
}

#tplRgt.assmntArcFra .rgtCo,
#tplRgt.mcqArcFra .rgtCo{
	/*background:url(../img/bottomBkAssmntArc.png) bottom repeat-x;*/
}

#tplRgt.ueArcFra .rgtCo{
	/*background:url(../img/bottomBkUserArc.png) bottom repeat-x;*/
}

#tplRgt.endArcFra .rgtCo{
	/*background:url(../img/bottomBkEndArc.png) bottom repeat-x;*/
}

.arcBk{
	padding-left:9px;
	padding-right:9px;
	font-size:16px;
	overflow: auto;
	padding-bottom:22px;
	min-height:40px
}

.arcFdbk{
	height:100%
}

#tplRgt.userArcFra #tplArc,
#tplRgt.chooseArcFra #tplArc,
#tplRgt.unaryArcFra #tplArc{
	/* background:url(../img/userArc.png) 5px bottom no-repeat; */
	/* color: #246060; */
	}

#tplRgt.assmntArcFra #tplArc,
#tplRgt.mcqArcFra #tplArc{
	/* background:url(../img/assmntArc.png) 5px bottom no-repeat; */
	color: #3eaafb;}

#tplRgt.ueArcFra #tplArc{
	/*background:url(../img/ueArc.png) 5px bottom no-repeat;*/
	/* color:orange; */
}

#tplRgt.endArcFra #tplArc{
	/*background:url(../img/endArc.png) 5px bottom no-repeat;*/
	color:#898989;
}

#tplRgt.userArcFra .btnRgtTgl,
#tplRgt.chooseArcFra .btnRgtTgl,
#tplRgt.unaryArcFra .btnRgtTgl{
	background-color:orange;
}

#tplRgt.assmntArcFra .btnRgtTgl,
#tplRgt.mcqArcFra .btnRgtTgl{
	background-color:#a6518c;
}

#tplRgt.ueArcFra .btnRgtTgl{
	background-color:orange;
}

#tplRgt.endArcFra .btnRgtTgl{
	background-color:#898989;
}

#tplRgt .btnRgtTgl:hover{
	-moz-opacity:1;
	opacity:1;
}

#tplRgt .btnRgtTgl span{
	display:none
}

#tplRgt.barClosed .btnRgtTgl{
	background-image:url(../img/arrowLeft.png);
}

#tplRgt.barClosed .btnRgtTgl:hover{
	background-image:url(../img/arrowLeftOver.png);
}

#tplRgt.barOpened .btnRgtTgl{
	background-image:url(../img/arrowRight.png);
}

#tplRgt.barOpened .btnRgtTgl:hover{
	background-image:url(../img/arrowRightOver.png);
}

#tplRgt .btnRgtMore, #tplRgt .btnRgtLess{

	display: none;
}

#tplRgt .btnRgtMore span, #tplRgt .btnRgtLess span{
	display: none;
}

#tplRgt .btnRgtMore{
	right:19px;
	background:url(../img/more.png) center center no-repeat;
}
#tplRgt.noArcFra .btnRgtMore,
#tplRgt.barClosed .btnRgtMore{
	display: none;
}
#tplRgt .btnRgtLess{
	right:5px;
	background:url(../img/less.png) center center no-repeat
}
#tplRgt.noArcFra .btnRgtLess,
#tplRgt.barClosed .btnRgtLess{
	display: none;
}
#tplRgt .btnArcMore{
	position: absolute;
	display: block;
	width:24px;
	left:3px;
	bottom: 33px;
	height:84px;
	background:url(../img/btnArcMore.png) left bottom no-repeat
}

#tplRgt.mcqArcFra .btnArcMore{
	background:url(../img/btnMcqArcMore.png) left bottom no-repeat
}

#tplRgt.mcqArcFra .btnArcMore{
	height: auto;
	top:0px;
}
#tplRgt.barOpened .btnArcMore{
	display: none;
}
#tplRgt .btnArcMore span{
	display: none;
}
#tplRgt .rgtCo{
	/* position: absolute; */
	/* left:0px; */
	/* top:16px; */
	/* bottom:0px; */
	width: 100% !important;
	-moz-border-radius: 0px 0px 0px 8px;
	-khtml-border-bottom-left-radius:8px;
	/* -webkit-border-bottom-left-radius:8px; */
	border-bottom-left-radius:8px;
}


#tplMain {
	max-width: 700px;
	background: white;
	min-height: calc(50vh - 200px);
	box-shadow: 0px 8px 10px -5px rgba(114, 114, 114, 0.33);
	border: 1px solid #E4E4E4;
	margin:10px auto;
	padding: 4px 20px 20px;
}

@media only screen and (max-width: 810px) {
	#tplMain {
		padding: 4px 0px 20px;
		margin:0;
	}
}

#tplCo {
}

h1.nodeBk_ti{
	font-size: 24px;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(85, 85, 85, 0.14);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #E4E4E4;
	box-shadow: 0px 10px 10px -8px #F3F3F3;
	margin: 0 5% 20px;
	color:gray;
}
.nodeBk_co{
	min-height: 450px;
}
.assmntNode h1.nodeBk_ti{
	background:none;
	padding-left:0px
}

#linkSp{
	text-decoration: none;
	margin: 0px;
}
#linkSp img,
.legalInfo img {
	border-width:0px;
	vertical-align: middle;
}
#tplBtmIn a {
	color: gray;
}
#tplBtmIn a:hover {
	color: lightgray;
}

/* ============== ARC ========================= */
ul.arcList{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	text-align: center;
}
ul.arcList li{
	margin: 0px;
	margin-bottom:10px;
	display: inline-block;
	width: 220px;
	text-align: center;
	vertical-align: bottom;
}

area.disabled_entry{
	cursor:default;
}


/* ============== Search ========================= */
.schResFrame{
	display: none;
	/* position: fixed; */
	/* left: 200px; */
	top: 70px;
	width: 250px;
	right: 15px;
	/* bottom:-40px; */
	height: 35px;

	background: rgb(247, 247, 247);
	-webkit-transition: bottom 0.3s ease-out;
	-moz-transition: bottom 0.3s ease-out;
	-o-transition: bottom 0.3s ease-out;
	transition: bottom 0.3s ease-out;
}
.schDisplay_on .schResFrame{
	bottom:0px;
	-webkit-transition: bottom 0.3s ease-out;
	-moz-transition: bottom 0.3s ease-out;
	-o-transition: bottom 0.3s ease-out;
	transition: bottom 0.3s ease-out;
}
.schDisplayList_on .schResFrame{
	height: 345px;
	-webkit-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
}
.schDisplayList_off .schResFrame{
	height: 45px;
	-webkit-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
}



.resZne {
    position: unset !important;
    left: initial !important;
    margin-left: unset !important;
}
.resZne .visualMap_img {
    margin: 0 auto;
    /* opacity: 1 !important; */
    /* width: unset !important; */
    height: unset !important;
    position: relative !important;
    /* background: transparent !important; */
    display: block;
}
